@{
    ViewData["Title"] = "Delete Page";
}


@model ApplicationResponse
<h3>Confirm Deletion</h3>
<br />
<h4>Are you sure you want to delete the application for @Model.Title?</h4>

<form method="post" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="MovieID" />
</form>



<div>
    <h1>Your selection has been deleted. Thank you</h1>
    <p>Redirecting to home in 5 seconds</p>
    <meta http-equiv="refresh" content="5; url = /Home/Index" />
</div>